<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrusel Automatico</title>
    <script src="./javascripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>
  <body>
    <div class="carrusel">
      <div class="carrusel-items">
        <div class="carrusel-item">
          <img src="./img/resina1.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina2.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina3.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina4.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina5.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina6.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina7.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina8.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina9.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina10.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina11.jpeg" alt="" />
        </div>
        <div class="carrusel-item">
          <img src="./img/resina12.jpeg" alt="" />
        </div>
      </div>
    </div>
    
  </body>
</html>